# Cantidad de datos de entradas a N neuronas
cantidad_entradas = 2
cantidad_salidas = 1
capas = 5 3 2
tasa_aprendizaje = 0.05
momento = 0.3

archivo_entrada = concent.csv
cantidad_particiones = 50
porcentaje_entrenamiento = 0.8
porcentaje_validacion = 0.1

epocas_maximas = 100
# Tolerancia de error es en % ( 0 -> 100 )
tolerancia_error = 0.1
